# Pandas

In [1]:
import pandas as pd

Crear un data frame es muy parecido a crear un diccionario

In [18]:
df = pd.DataFrame({
    "Carnet": [123, 456, 789, 987, 654],
    "Hoja de trabajo 1": [80, 85, 75, 40, 100],
    "Hoja de trabajo 2": [90, 90, 75, 61, 100],
    "Hoja de trabajo 3": [80, 80, 0, 50, 85],
})

Imprimir un data muestra de forma ordenada la información.

In [3]:
print(df)

   Carnet  Hoja de trabajo 1  Hoja de trabajo 2  Hoja de trabajo 3
0     123                 80                 90                 80
1     456                 85                 90                 80
2     789                 75                 75                  0
3     987                 40                 61                 50
4     654                  0                100                 85

Tabmbién es posible ver la información en formato tabla pero esto solo es posible en Jupyter Notebooks

In [4]:
df

   Carnet  Hoja de trabajo 1  Hoja de trabajo 2  Hoja de trabajo 3
0     123                 80                 90                 80
1     456                 85                 90                 80
2     789                 75                 75                  0
3     987                 40                 61                 50
4     654                  0                100                 85

## Instrucciones básicas

La forma del data frame nos da información sobre la cantidad de imformación que este tiene

In [5]:
print(df.shape)

(5, 4)

Si se requiere estadistica básica es posible utilizar la función describe

In [6]:
print(df.describe())

           Carnet  Hoja de trabajo 1  Hoja de trabajo 2  Hoja de trabajo 3
count    5.000000           5.000000            5.00000           5.000000
mean   601.800000          56.000000           83.20000          59.000000
std    330.399304          35.951356           15.28725          35.777088
min    123.000000           0.000000           61.00000           0.000000
25%    456.000000          40.000000           75.00000          50.000000
50%    654.000000          75.000000           90.00000          80.000000
75%    789.000000          80.000000           90.00000          80.000000
max    987.000000          85.000000          100.00000          85.000000

Es posible sacar estadística de forma más específica:

In [7]:
print(df.mean())

Carnet               601.8
Hoja de trabajo 1     56.0
Hoja de trabajo 2     83.2
Hoja de trabajo 3     59.0
dtype: float64

In [8]:
print(df.count())

Carnet               5
Hoja de trabajo 1    5
Hoja de trabajo 2    5
Hoja de trabajo 3    5
dtype: int64

In [9]:
print(df.max())

Carnet               987
Hoja de trabajo 1     85
Hoja de trabajo 2    100
Hoja de trabajo 3     85
dtype: int64

In [10]:
print(df.min())

Carnet               123
Hoja de trabajo 1      0
Hoja de trabajo 2     61
Hoja de trabajo 3      0
dtype: int64

In [11]:
print(df.std())

Carnet               330.399304
Hoja de trabajo 1     35.951356
Hoja de trabajo 2     15.287250
Hoja de trabajo 3     35.777088
dtype: float64

In [12]:
print(df["Hoja de trabajo 1"])

0    80
1    85
2    75
3    40
4     0
Name: Hoja de trabajo 1, dtype: int64

In [13]:
print(df["Hoja de trabajo 1"].mean())

56.0

También es posible generar sub data frames con ciertas columnas

In [14]:
df2 = df[["Hoja de trabajo 1", "Hoja de trabajo 3"]]

print(df2)

print(df2.shape)

   Hoja de trabajo 1  Hoja de trabajo 3
0                 80                 80
1                 85                 80
2                 75                  0
3                 40                 50
4                  0                 85
(5, 2)

Si se requiere obtener un valor específico es posible hacerlo:

In [15]:
valor = df["Hoja de trabajo 1"][0]

print(valor)

80

## Busqueda de información

Poder acceder a información específica es uno de los poderes más grandes de Pandas. Para lograr esto se puede utilizar LOC ya que permite acceder a un grupo de filas y columnas usando etiquetas.

In [16]:
# OJO sin print la información de muestra en una tabla
# esto SOLO pasa en los jupyter notebooks

df.loc[df["Hoja de trabajo 1"] >= 61]

   Carnet  Hoja de trabajo 1  Hoja de trabajo 2  Hoja de trabajo 3
0     123                 80                 90                 80
1     456                 85                 90                 80
2     789                 75                 75                  0

También es posible filtar la información en el dataframe para limitar el resultado.

In [19]:
distinguidos = df.loc[df["Hoja de trabajo 1"] >= 80]

print(distinguidos)

print("\n--\n")

print(distinguidos[["Carnet", "Hoja de trabajo 1"]])

   Carnet  Hoja de trabajo 1  Hoja de trabajo 2  Hoja de trabajo 3
0     123                 80                 90                 80
1     456                 85                 90                 80
4     654                100                100                 85

--

   Carnet  Hoja de trabajo 1
0     123                 80
1     456                 85
4     654                100